# First: we ignore all outputs of specific program configurations
# This includes .avi, .png files, as well as the /data and /__pycache__ folders
*.avi
*.png
data/
__pycache__/
# we also ignore all latex byproduct files
*.aux
*.log
*.out
*.gz
